CTC_RPC_URL=
DEPLOYER_PRIVATE_KEY=
LEASE_REGISTRY_ADDRESS=
ESCROW_CONTRACT_ADDRESS=
PAYMENT_RECORD_NFT_ADDRESS=
RENTSCORE_READER_ADDRESS=
LOAN_GATEWAY_ADDRESS=
DEMO_LANDLORD_ADDRESS=
DEMO_RENT_CENTS=185000
DEMO_DUE_DAY=5
DEMO_NATIVE_VALUE=0.0001
EXPLORER_BASE_URL=https://creditcoin-testnet.blockscout.com/tx/
